<div class="sign-in__container">
  <div class="sign-in-left__background"></div>
  <div class="sign-in-right__background"></div>

  <div class="sign-in__form">
    <div class="logo__container">
      <img src="logo.png" alt="Logo">
    </div>
    <div class="sign-in-form-content__container">
      <div class="sign-in-image__container">
        <%= image_tag 'sign-in-image.png' %>
      </div>

      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'sign-in__simple-form' }) do |f| %>
        <div class="sign-in-inputs__container ">
          <div class="sign-in__text">
            <span class="welcome-message">Forgot password</span>
            <span class="admin-message">Enter the email associated with your account to reset your password.</span>
          </div>

          <div class="sign-in__inputs">
            <div class="form-group w-100 mb-3">
              <label for="Email">Email</label>
              <div class="input-container form-label w-100">
                <input type="text" name="<%= f.object_name %>[email]" id="email" autocomplete="off" placeholder="Email" class="w-100">
                <%#= image_tag('svgs/user.svg', class:'search__icon', style: 'width:1.25rem; height:1.25rem;') %>
              </div>
            </div>

            <%= button_tag(type: 'submit', class: "signin__form-button", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i>"}  ) do %>
              Send
            <% end %>

            <%= render "devise/shared/links" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
